{% extends "MiApp/padre.html" %}
    {% load static %}
{% block contenidoQueCambia %}


<section class="page-section bg-light" id="acerca de mi">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Acerca de mi</h2>
            <h3 class="section-subheading text-muted">...</h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'MiApp/assets/img/team/Negro.jpg' %}" alt="..." />
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'MiApp/assets/img/team/YO.jpg' %}" alt="..." />
                        <h4>Daniel Felipe Gonzalez Torres</h4>
                        <p class="text-muted">Estudiante Universitario</p>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/danielgonzalez_53/" aria-label="Daniel Gonzalez Instagram Profile"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100052970210644&mibextid=LQQJ4d" aria-label="Daniel Gonzalez Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-dark btn-social mx-2" href="https://twitter.com/toniluca53" aria-label="Daniel Gonzalez Twitter Profile"><i class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="text-center">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="{% static 'MiApp/assets/img/team/Negro.jpg' %}" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mi historia</h2>
            <h3 class="section-subheading text-muted">...</h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'MiApp/assets/img/about/Img1.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2004</h4>
                        <h4 class="subheading">Mi nacimiento</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Tengo 18 años, nací en el año 2004, en Bogota D.C. - Colombia, en donde actualmente resido </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'MiApp/assets/img/about/Img2.jpeg' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021</h4>
                        <h4 class="subheading">Mi bachillerato</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">En el año 2021 me gradue de bachiller tecnico industrial en Procesos Industriales, aun en tiempos de pandemia y todos mis años estudios finales rodeados entorno a la virtualidad.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'MiApp/assets/img/about/Img3.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2022</h4>
                        <h4 class="subheading">Estudios</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Posterior a mi graduacion bachiller, soy estudiante universitario de Ingenieria Mecatronica, en donde mis gustos a raiz de esta, me han llevado a buscar estudios adicionales.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="{% static 'MiApp/assets/img/about/Img4.png' %}" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2023</h4>
                        <h4 class="subheading">Python</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">En el año 2022, me interese por estudiar el lenguaje de programacion Python, y en el presente año 2023, obtendre una certificacion sobre mis conocimientos sobre este con la academia CoderHouse.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        ¡Sé parte
                        <br />
                        de nuestra
                        <br />
                        historia!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>

{% endblock %}