{% extends 'MiApp/padre.html' %}
    {% load static %}
{% block contenidoQueCambia %}

<br>
<br>

<div class="container text-center">

    <p><h4>{{vehiculo.nombre}}</h4></p>
    <br>
    <br>
    <br>
    {% if vehiculo.imagen %}
        <p><img src="{{vehiculo.imagen.url}}" width="500" height="500" alt=""></p>
    {% endif %}
    <br>
    <br>
    <p><h4>Marca:</h4></p>
    <p>{{vehiculo.marca}}</p>
    <p><h4>Descripcion:</h4></p>
    <p>{{vehiculo.descripcion}}</p>
    <p><h4>Precio:</h4></p>
    <p><h3>${{vehiculo.precio}}</h3></p>
    <br>
    <br>
    <a href="{% url 'eliminar_vehiculo' vehiculo.id %}"><button type="submit" id="submit" class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
        COMPRAR
    </button></a><i class="bi bi-trash text-danger"></i></a>
</div>
<br>
<br>
{% endblock %}